<ion-header>
<ion-toolbar color="primary">
  <ion-title>About me</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/profile.jpg" style="border-radius: 50%; width: 150px; margin: 20px auto; display: block;">
  </ion-card>

  <ion-card-header>
    <ion-card-title>KASH THE MINION</ion-card-title>
    <ion-card-subtitle>Web & Mobile Developer</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Bee do bee do bee do! king bomb
  </ion-card-content>

  <ion-list>
    <ion-item>
    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input placeholder="Enter Your Name"></ion-input>
    </ion-item>

<ion-item>
  <ion-icon slot="start" name="mail-outline"></ion-icon>
  <ion-label position="floating">Email</ion-label>
  <ion-input placeholder="Enter Your Email"></ion-input>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="call-outline"></ion-icon>
  <ion-label position="floating">Phone Number</ion-label>
  <ion-input type="email" placeholder="Enter Your Phone Number"></ion-input>
</ion-item>

<ion-item>
  <ion-select label="Gender" placeholder="Select One">
  <ion-select-option value="male">male</ion-select-option>
  <ion-select-option value="female">female</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Date of birth</ion-label>
  <ion-datetime display-format="DD MM YYYY" placeholder="Select Date"></ion-datetime>
</ion-item>

<ion-button expand="block" color="secondary" class="ion-margin-top">Update Profile</ion-button>
  </ion-list>

</ion-content>